:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

 /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
* {
  box-sizing: border-box;
}

html,body, #app {
  margin: 0;
  min-height: 100vh;
}

.block-title {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  padding: 16px;
  width: 100%;
  text-align: center;
}

.block {
  display: flex;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  text-align: center;
}
.block button {
  background-color: yellowgreen;
  border: 1px solid white;
  height: 50px;
  margin: 10px;
  flex: auto;
  cursor: pointer;
}
.block button:hover {
border: 1px solid black ;
}
#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

#color-picker {
  min-width: 12.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}


